<h1 class="title has-text-centered">Crear nuevo Producto</h1>

<form class="columns is-centered" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="card column">
    <div class="card-content">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="code" class="label">Codigo: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input
                type="text"
                id="code"
                name="code"
                class="input is-info"
                [(ngModel)]="product.code"
                #codeField="ngModel"
                required
              />

              <div
                *ngIf="
                  codeField.invalid && (codeField.dirty || codeField.touched)
                "
                class="help is-danger"
              >
                <span *ngIf="codeField.errors?.required">
                  El campo "Codigo" es obligatorio
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="name" class="label">Nombre: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input
                type="text"
                id="name"
                name="name"
                class="input is-info"
                [(ngModel)]="product.name"
                #nameField="ngModel"
                required
              />

              <div
                *ngIf="
                  nameField.invalid && (nameField.dirty || nameField.touched)
                "
                class="help is-danger"
              >
                <span *ngIf="nameField.errors?.required">
                  El campo "Nombre" es obligatorio
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="description" class="label">Descripción: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input
                type="text"
                id="description"
                name="description"
                class="input is-info"
                [(ngModel)]="product.description"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="price" class="label">Precio: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input
                type="number"
                id="price"
                name="price"
                class="input is-info"
                [(ngModel)]="product.price"
                required
                min="0.01"
                #priceField="ngModel"
              />

              <div
                *ngIf="
                  priceField.invalid && (priceField.dirty || priceField.touched)
                "
                class="help is-danger"
              >
                <span *ngIf="priceField.errors?.required">
                  El campo "Precio" es obligatorio
                </span>
                <span *ngIf="priceField.errors?.min">
                  Debe ingresar un numero mayor o igual a 0.01
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="minQuantity" class="label">Cantidad minima: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input
                type="number"
                id="minQuantity"
                name="minQuantity"
                class="input is-info"
                [(ngModel)]="product.min_Quantity"
                required
                min="1"
                #minQuantityField="ngModel"
              />

              <div
                *ngIf="
                  minQuantityField.invalid &&
                  (minQuantityField.dirty || minQuantityField.touched)
                "
                class="help is-danger"
              >
                <span *ngIf="minQuantityField.errors?.required">
                  El campo "Cantidad minima" es obligatorio
                </span>
                <span *ngIf="minQuantityField.errors?.min">
                  Debe ingresar un numero mayor o igual a 1
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <input
        type="submit"
        value="Crear Producto"
        class="card-footer-item has-text-weight-bold has-text-success"
      />

      <a
        [routerLink]="['/products']"
        class="card-footer-item has-text-weight-bold has-text-link"
        >Regresar a la lista</a
      >
    </div>
  </div>
</form>
