<div class="container">
  <header>
    <!-- Modals -->
    <nav
      class="navbar has-shadow has-text-weight-bold mb-3"
      role="navigation"
      aria-label="navigation"
    >
      <div class="navbar-brand">
        <a [routerLink]="['/']" class="navbar-item">Inicio</a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="mainNavbar"
          (click)="toggleMenu()"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" [class.is-active]="menuIsActive">
        <div class="navbar-end">
          <a
            [routerLink]="['/products']"
            class="navbar-item"
            (click)="toggleMenu()"
            >Productos</a
          >
          <a
            [routerLink]="['/clients']"
            class="navbar-item"
            (click)="toggleMenu()"
            >Clientes</a
          >
          <a
            [routerLink]="['/invoices']"
            class="navbar-item"
            (click)="toggleMenu()"
            >Facturas</a
          >
          <a
            [routerLink]="['/reports']"
            class="navbar-item"
            (click)="toggleMenu()"
            >Reportes</a
          >
        </div>
      </div>
    </nav>
    <!-- Notificaciones -->
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
