<h1 class="title has-text-centered">Información del Producto</h1>
<div class="columns is-centered">
  <div class="card column">
    <div class="card-content">
      <div class="block">
        <span class="has-text-weight-bold">Codigo: </span>
        <span>{{ product?.code }}</span>
      </div>
      <div class="block">
        <span class="has-text-weight-bold">Nombre: </span>
        <span>{{ product?.name }}</span>
      </div>
      <div class="block">
        <span class="has-text-weight-bold">Descripción: </span>
        <span>{{ product?.description }}</span>
      </div>
      <div class="block">
        <span class="has-text-weight-bold">Precio: </span>
        <span>{{
          product?.price | currency: "GTQ":"symbol-narrow":"1.2-2"
        }}</span>
      </div>
      <div class="block">
        <div class="block">
          <span class="has-text-weight-bold">Cantidad Minima: </span>
          <span>{{ product?.min_Quantity | number }}</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a class="card-footer-item has-text-weight-bold has-text-warning-dark"
        >Editar</a
      >
      <a
        [routerLink]="['/products']"
        class="card-footer-item has-text-weight-bold"
        >Regresar a la lista</a
      >
    </div>
  </div>
</div>
